---
const pagetitle = "Sobre mi";
---

<html lang="en">
	<head>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/pricing/">Pricing</a>

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pagetitle}</title>
	</head>
	<body>
		<h1>{pagetitle}</h1>
	</body>
</html>
